# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDE files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings
.sts4-cache
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build outputs
*.class
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.bak